@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(240, 78%, 98%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 3rem;
    margin: 0 auto;
}
.pricing{
    color: hsl(233, 13%, 49%);
    font-size: 1.6rem;
    text-align: center;
}
.toggle-container{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(234, 14%, 74%);
    font-size: 0.8rem;
}

/* Toggle button */
.toggle-btn {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 27px;
    margin: 0 1rem;
}

.toggle-btn input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:active + .toggle-slider {
    opacity: 0.5;
   }
input:checked + .toggle-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
.plans-container{
    display: flex;
    align-items: center;
}
.plan{
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 2rem hsla(232, 13%, 33%, 0.1), -1rem 0 2rem hsla(232, 13%, 33%, 0.1);
    text-align: center;
    width: 32%;
    max-height: 373px;
}

.plan-title{
    color: hsl(233, 13%, 49%);
    font-size: 1rem;
}
.plan-price {
    color: hsl(232, 13%, 33%);
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
}
.plan-price span{
    font-size: 3.2rem;
    position: relative;
    top: 0.3rem;
    margin-left: 0.3rem;
}

.animate{
    animation: 0.5s flip;
}

@keyframes flip {
    from{
        /* transform: translateY(-100px);  */
        /* transition:transform 0.8s; */
        transform-style: preserve-3d; 
    }

    to{
        transform: rotateY(360deg);

    }
}
.plan-features{
    list-style: none;
    color: hsl(233, 13%, 49%);
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.plan-features li{
    padding: 0.8rem 0;
    border-top: 1.2px solid hsla(234, 14%, 74%, 0.3);

}
.plan-features li:last-child{
    border-bottom: 1.2px solid hsla(234, 14%, 74%, 0.3);
}

.feature-btn{
    font: inherit;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    color: #fff;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    outline: none;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;

}

.feature-btn:hover{
    background: transparent;
    border: 1.4px solid hsl(237, 63%, 64%);
    color: hsl(237, 63%, 64%);
}

.basic{
    margin-right: -0.3rem;
}

.pro{
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    max-height: 405px;
    padding: 3rem 1rem;
    z-index: 1;


}

.pro *{
    color:#fff;
}

.pro li{
    border-color: hsla(234, 14%, 74%, 0.6);
}
.pro .feature-btn{
    background: #fff;
    color: hsl(237, 63%, 64%);
}

.pro .feature-btn:hover{
    background: transparent;
    color: #fff;
    border-color: #fff;
}
.master{
    margin-left: -0.3rem;
}

@media only screen and (max-width: 768px){
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
    }
    .plans-container{
        flex-direction: column;
    }

    .plan{
        width: 100%;
        margin-top: 1.5rem;
    }
}